<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="../css/login.css" rel="stylesheet">
    <!------ Include the above in your HEAD tag ---------->

    <title>Login</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="button" onclick="logueo();" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
          <!--   <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div> -->

        </div>
    </div>
</body>
<script src="../js/jquery-3.6.4.js"></script>
<script>

    function logueo(){
            var user = $("#login").val();
            var pass = $("#password").val();

            $.ajax({
                url:"../controllers/control.php",
                type: 'POST',
                dataType: 'JSON',
                async: false,
                data: { username: user, password: pass },
                success: function(result){
                    console.log(result);
                    if(result.success == "success" ){
                        location.href = "../views/menu.php";

                    }else if(result.success == "datos_erroneos" ){
                        alert("Datos de usuario incorrectos");
                        $("#password").val('');
                    }else if(result.user_dose_not_exist == "error"){
                        alert("El usuario no se existe");
                        $("#password").val('');
                    }
                }
            });
        }
</script>
</html>