<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/tbls_descarga.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <h1>Descarga comprobantes</h1>
    <table>
        <thead>
            <tr>
                <th>Acciones</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo doc</th>
                <th>#Documento</th>
            </tr>
        </thead>
        <tbody id="contenido_tabla">

        </tbody>
    </table>
</body>
<script src="../../js/jquery-3.6.4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    consultar();
        function consultar(){
        $.ajax({
            url: "../../controllers/empleado/getDespre.php",
            dataType: 'json',
            success: function(data) {
                $("#contenido_tabla").append(data.CONTENIDO);
            },
            error: function(xhr, status, error) {
                console.log("Error al procesar la solicitud:", error);
            }
        });
    }
    
    function pagoNomina(nombre,apellido,salario,aux_transporte){
        console.log("entr5oo");
        $.ajax({
                url: "../../views/user/desc_nomina.php",
                type: 'POST',
                data: {
                    nombre: nombre,
                    apellido: apellido,
                    salario: salario,
                    aux_transporte: aux_transporte
                },
                dataType: 'json',
                success: function(data) {

                },
            
            });
    }
</script>
</html>